[2019-08-25 17:09] Stephan296 opened #1 "don't read state of the box and a pop up when changing channels"
My box gives always the state of pause, also when i change channels with your component.
Also is there an popup when i change channels at my tv, not very beautifull ;-)

[2019-08-26 20:27] Sholofly commented on #1
Thanks, I made a change yesterday to resolve the first issue. I have seen the pop-up. I will look into it very soon!

[2019-09-06 17:58] Stephan296 commented on #1
Stil the same problem, i see constantly the status: paused

[2019-09-08 16:52] Sholofly commented on #1
Hi @Stephan296, Can you send me your settings? (Please hide credentials) I can't reproduce it at my end. The pop-up is something I'm not able to fix.

[2019-09-14 21:26] Stephan296 commented on #1
media_player:

  - platform: ziggo-mediabox-next
    username: !secret ziggo_username
    password: !secret ziggo_password

Copy state:

media_player.3c36e4_eosstb_003686187307 | paused | media_content_type: tvshow source_list: NPO 1 HD,NPO 2 HD,NPO 3 HD,RTL 4 HD,RTL 5 HD,SBS6 HD,RTL 7 HD,Veronica HD / Disney XD,Net5 HD,RTL 8 HD,FOX HD,RTL Z HD,Ziggo TV HD,Ziggo Sport HD,Comedy Central HD,Spike HD

[2019-09-15 19:23] Sholofly commented on #1
Hi,

Did you update te source and reboot? I can't reproduce your issue... It's
either playing or off at my side...

Op za 14 sep. 2019 om 23:26 schreef Stephan296 <notifications@github.com>:

[2019-10-03 13:46] Sholofly commented on #1
@Stephan296 Please update the component. I think the problem is solved.

[2019-10-17 12:23] joostvanmourik opened #3 "Dont see a device"
Hi,

I was using the first version of this project and then saw a device, but know with this version everything seems to be fine but no device media_player.ziggo

What can i do to troubleshoot

[2019-10-17 13:03] timon71 commented on #3
Probably under another name? In my case it shows up as media_player.3c36e4_eosstb_003773156306.

EOS STB is the product name of the Ziggo Mediabox Next. and the numbers are probably a part of mac address and serialnumber.

[2019-10-23 12:02] joostvanmourik commented on #3
Actualy found the device. Thanx

[2019-11-16 12:40] Stephan296 commented on #1
Problem solved indeed, can you also create a state to show the channel?

[2019-12-22 20:24] #3 closed

[2019-12-22 20:25] Sholofly commented on #1
I'll dive into that. Please submit a feature request!

[2019-12-22 20:25] #1 closed

[2019-12-26 15:34] Sholofly opened #4 "Status updates not coming thru in PyPi branch"
@shortwood  I've created a pypi package to control the settop boxes but one way or another, i'm not receiving status updates anymore. The source for the package is in the python repo. The custom-component that uses this package for HA is a branch from this one.

I did all i can do to compare the master and the pypi branch in HA but although it looks kinda the same, the master (without pypi package

[2019-12-27 12:45] TheRedBull205 opened #5 "Add hacs support"
https://hacs.xyz/docs/publish/start

[2020-01-11 09:20] dynasticorpheus commented on #4
@Sholofly  Please note paho-mqtt version is bumped to 1.5.0 (paho-mqtt==1.5.0)

[2020-01-11 09:57] Sholofly commented on #4
@dynasticorpheus thanks, but the package already uses that version..

[2020-01-15 15:39] Sholofly commented on #5
It has been added to the default repo already.

[2020-01-15 15:39] #5 closed

[2020-01-15 15:39] Sholofly commented on #4
Looks like it's fixed.

[2020-01-15 15:39] #4 closed

[2020-01-15 20:07] silver323 opened #7 "Image reloads of program"
Issue with the refreshment of the image of the program that where playing.
The image is refreshing continuously, maybe it could be the image of the program that is display at the guide of ziggo.
![image](https://user-images.githubusercontent.com/42837826/72467136-9aef6580-37da-11ea-84fe-1e2989404e78.png)

The issue with the standby mode and the pictures is resolved with the latest version.

[2020-01-15 20:12] Sholofly commented on #7
Hi @silver323, Thats by design. It's the same image that's used in the Ziggo go app. Maybe you can clarify why you think it's an issue? Is it causing problems?

[2020-01-15 20:17] silver323 commented on #7
No it's not giving problems. I think it's generate more data. I see a huge increase from my database when starting the new component.

[2020-01-15 20:40] silver323 commented on #7
Had found an issue: Changing channel in HA works but the image and title stays on the old channel.
But when used the Remote changing channel the image and title are changed in HA media player.

[2020-01-16 19:59] Sholofly commented on #7
I close this one and open a new one about you last issue.

[2020-01-16 19:59] #7 closed

[2020-01-16 21:51] Sholofly opened #10 "Media player only showing information when Ziggogo.tv web application is running"
When a media player is starting up  it isn't able to show the now playing information when the webapp on ziggogo.tv isn't running.
after triggering a change using the remote on zigogo.tv, it works.
I'm looking for someone who kan reverse engineer the ziggogo.tv app.

[2020-01-17 12:31] PostSven opened #11 "feature request: add source state"
I would also like to make some automations based on the selected source (for instance all lights turn green when watching fox sports), but i believe that the source is not reported back as a state, is this something that is possible?

[2020-01-17 21:46] #11 closed

[2020-01-17 21:48] Sholofly commented on #11
The new version has added a channel sensor. Alert: It contains a breaking change. You'll have to update your config... Check the readme in the details.

[2020-01-17 22:46] PostSven commented on #11
getting a lot of errors, also the state is not updating.

the source state in the media player is sometimes updating, but is also getting stuck on the channel that is set via the ziggogo.tv app.

Also i am experiencing the same behaviour as with the image not updating, the state of source only updates after a refresh via the webapp, but when the box is turned off/on the same issue appears again.

[2020-01-18 06:10] Sholofly commented on #11
Sure you updated to the latest version? There was a wrong version live for
a few minutes last night. It looks like you did update in that short time
window. Sorry for the inconvenience.

Op vr 17 jan. 2020 23:46 schreef PostSven <notifications@github.com>:

[2020-01-18 06:14] Sholofly commented on #11
Oh, and the bug with not updating at startup is in issue #10 .

[2020-01-18 06:16] Sholofly commented on #10
@PostSven, please help to find a reproduction flow where this bug occurs every time..

[2020-01-18 08:26] netrene opened #13 "Feature Request Add Swiss Servers"
Hi,

as discussed in the Forum it would be greta to add the Swiss Servers to make your component work also with the Swiss version of the ziggo box. Here it is called UPC TV Box.

Here are the Servers to implement:

API_URL_SESSION = "https://web-api-prod-obo.horizon.tv/oesp/v3/CH/eng/web/session"
API_URL_TOKEN = "https://web-api-prod-obo.horizon.tv/oesp/v3/CH/eng/web/tokens/jwt"
DEFAULT_HOST = "ob

[2020-01-18 09:38] PostSven commented on #10
@shortwood
1. restart HA
2. notice that the cover image is not updated
3. go to ziggo phone or web app
4. connect and switch channels
5. all seems OK.

same thing hapens over and over every time you restart HA.

[2020-01-18 10:09] PostSven commented on #11
That looks better! i was to quick!

only issue now is that the source is not updating when switching channels, it stays on the 1st one you set.

[2020-01-18 12:10] Sholofly commented on #13
@netrene I created a branch countrycode where I have fixed this. Please test it for me, since i don't have access to the CH url's. You have to copy the files manually in your custom components, add ```country_code: ch``` to your config & restart.

[2020-01-18 12:15] Sholofly commented on #11
It does change, but it takes a while. Sensors are not updating that
quickly...

Op za 18 jan. 2020 om 11:09 schreef PostSven <notifications@github.com>:

[2020-01-18 12:42] PostSven commented on #11
It only updates for the first one, if you switch channel it will not update it.

[2020-01-18 14:06] Sholofly commented on #11
Are there errors in the log?

Op za 18 jan. 2020 13:42 schreef PostSven <notifications@github.com>:

[2020-01-18 14:09] PostSven commented on #11
No, nothing.

It looks similar to the picture not updating, that also stays with the first channel that is picked.

unfortunatly i am not a big star with code, so i can't be of much help other then testing and reproducing the issues, sorry for that!

[2020-01-18 14:25] Sholofly commented on #11
Do you mean that when the picture is notupdating, the sensor isnt updating
too? Or does the sensor not update even when the media player does?  Cause
that makes sense. They rely on the same data source.

Op za 18 jan. 2020 15:09 schreef PostSven <notifications@github.com>:

[2020-01-18 14:27] PostSven commented on #11
Correct, when changing the source via HA or via the TV remote, it's not updating the source or picture/channel info.

when changing the source via the ziggo app it is updating.

[2020-01-18 14:58] netrene commented on #13
Hi,

first of all thanks for your effort.

I tested it and it is not working. I get the following error:

Protokolldetails ( ERROR )
Sat Jan 18 2020 15:55:06 GMT+0100 (CET)

Error during setup of component ziggonext
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 174, in _async_setup_component
    component.setup, hass, processed_config  # type: igno

[2020-01-18 15:09] netrene commented on #13
Forget what I wrote. Its working.

I did not see that I have to change the config to:

ziggonext:
  username: !secret ziggo_username
  password: !secret ziggo_password

I found this information here: https://github.com/Sholofly/ZiggoNext/compare/3546899...444769f

Many many Thanks.

[2020-01-18 15:17] #13 closed

[2020-01-18 15:37] Sholofly commented on #13
Hi thank you for testing. I will merge the changes into the main branch so
you can use the custom component in HACS...

Op za 18 jan. 2020 16:09 schreef netrene <notifications@github.com>:

[2020-01-18 16:16] PostSven commented on #11
Update: when having a “connection” in the ziggo app to the next box open everything works like a charm.

When closing the app it reverts to the above behaviour

[2020-01-18 17:21] Sholofly commented on #11
Strange,
 I'll dive into it...

Op za 18 jan. 2020 17:16 schreef PostSven <notifications@github.com>:

[2020-01-18 20:47] Sholofly commented on #10
@PostSven As soon as we close the web app, the data flow is stopped. Only the state is coming through...

[2020-01-19 09:03] PostSven commented on #10
@Sholofly this component seems to work: https://github.com/IIStevowII/ziggo-mediabox-next

[2020-01-19 15:54] Sholofly commented on #10
Did you try it? It doesn't give me any channel details. Only the selected channel name as i selected myself. It doesn't retrieve channel info after changing it woth remote or web app...

[2020-01-19 16:11] PostSven commented on #10
it gives all the details, but only when using HA (not with webapp or remote..) But it looks like the connection from ha to the box is more stable

[2020-01-19 16:46] Sholofly commented on #10
I understand, but the component is out of sync when you use the remote...
And it's not synced at startup, is it? I could add the functionality that
it uses the channel name on switching channel. But that's not the way I
would like it to work. In that case HA decides what is playing instead of
the box... I rather like the box showing no information instead wrong
information..

Op zo 19 jan. 2020 17

[2020-01-19 16:55] PostSven commented on #10
I understand, that would be the ideal way!

[2020-01-20 19:35] nelbs commented on #10
I dont know if this is going to help you but yesterday @basst85 added the same feature to his repository https://github.com/basst85/NextRemoteJs/commits/master

[2020-01-20 20:50] basst85 commented on #10
Hi! I see this repository for the first time, thanks to your mention 🙂 This project is looking good, gonna try it soon

And Hopefully my commit from yesterday helps solving this issue 👍🏻

[2020-01-21 09:59] Sholofly commented on #10
It looks like it is fixed! Thanks to @basst85 .... I had to refactor the code completely. Hioes it works out for you all!

[2020-01-21 09:59] #10 closed

[2020-01-22 15:20] khensel17 opened #15 "Cannot see media_player and sensor"
Hello,
I've been struggeling to get this integration working. I've installed it with HACS and added the configuration. After restarting HA several times I cannot find any entities related to this integration. Is there someone who can tells me where to look or how to debug this?

[2020-01-22 15:20] #15 closed

[2020-01-22 17:39] Sholofly commented on #15
it looks like you figured it out?

[2020-01-23 20:13] khensel17 commented on #15
Yes I did. Thanks for replying anyway

[2020-01-25 10:41] gerthass opened #16 "Feature request"
Is it possible with the ziggonext sensor to add a 3rd state: idle/unknown for when the Next is playing youtube of nexflix
Or maybe the attribute ‘content’ which is now always on ‘tvshow’?
(Or another source input when not playing a chanel)

this way I could create an automation when the state/attribute changes from playing music on youtube, or a serie on nexflix back to the normal TV playing I cou

[2020-01-25 21:21] Sholofly commented on #16
Fixed in latest release

[2020-01-25 21:21] #16 closed

[2020-01-30 22:19] Diondk opened #18 "Error during setup of component ziggonext"
Hi,

Since today the ziggonext integration stopped working. i am getting the following error after i restarted HA:

`2020-01-30 22:11:45 ERROR (MainThread) [homeassistant.setup] Error during setup of component ziggonext
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 174, in _async_setup_component
    component.setup, hass, processed_config  # type:

[2020-01-31 09:39] Diondk commented on #18
This morning after restarting HA again, it started working.

[2020-02-01 20:37] #18 closed

[2020-02-04 13:42] silver323 opened #19 "Sensor is not updating when playing Replay TV"
Is it possible that the sensor is being updated when watching back with ReplayTV?

[2020-02-04 14:45] Sholofly commented on #19
Hi @silver323 ,

I have a pull request for integrating this component in HA Core. In that PR the sensors are removed and added as attribute to the media player. Until further notice i've stopped the development of this custom integration. If my PR is not merged soon i will add the same functionality to this component.

[2020-02-13 18:17] silver323 opened #20 "Not showing if you listening to radio"
The media player and the sensor stays on the latest tv program when you switch to the radio.
So it's not showing when you listening to radio. Is that possible?

[2020-02-17 12:20] roybosch opened #21 "Restart pending in HACS"
Hi!

Today I tried to install the ziggonext integration with HACS. No matter how often I restart HomeAssistant, it keeps saying that a restart is pending:

![image](https://user-images.githubusercontent.com/45666392/74653083-c2de3a00-5187-11ea-9639-7db0dd47a0b6.png)

When I'm checking the configuration file, it gives an error: `Component error: ziggonext - Integration 'ziggonext' not found.`

My c

[2020-02-19 14:19] trippinnl opened #22 "ZiggoNext as switch in google assistant"
I have exposed the media_player component to google home.

However in the google home app it is listed as switch rather than a media player. Because of that i can only turn it on and off. I'm unable to switch it to another channel or pause the box.

Is it possible to fix this?

[2020-02-24 17:56] Men-noemt-m-O commented on #22
I created a script for every channel with the name of the channel and exposed the scripts to Google home. That way I can ask to "turn on RTL 4" or "activate RTL 4" and Google home changes the channel for me, it's working great.

[2020-02-25 20:30] Jeffreyvanesch commented on #21
Yep, Same problem here:

`Tue Feb 25 2020 21:22:55 GMT+0100 (Central European Standard Time)
Error loading custom_components.ziggonext. Make sure all dependencies are installed
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/loader.py", line 389, in _load_file
    module = importlib.import_module(path)
  File "/usr/local/lib/python3.7/importlib/__init__.py", line 12

[2020-02-28 22:45] Sholofly commented on #21
@roybosch Still not working?

[2020-02-28 22:47] #21 closed

[2020-03-01 10:26] roybosch commented on #21
I just tried. No more problems, it works great now. Thank you!

[2020-03-02 12:22] mike9011 opened #23 "No image and information after turning off -> on"
## The problem
Since ~ 2 days the mediaplayer doesn't update anymore when it's switched off and turned on again.
It only shows this:
![image](https://user-images.githubusercontent.com/18025163/75675860-559ece80-5c88-11ea-9aeb-5a69cd704c1a.png)

When i open the "Ziggo Go" app and send a command to the mediabox , it will update in Home Assistant:
![image](https://user-images.githubusercontent.com/18

[2020-03-04 17:30] mike9011 commented on #23
# Error
Since today, the component doesn't work anymore. Rebooting doesn't solve the issue.

Logger: homeassistant.setup
First occured: 18:03:15 (1 occurences)
Last logged: 18:03:15

[code]

[2020-03-05 12:56] mike9011 commented on #23
Found the issue! Did some requests manually in order to get the 'X-OESP-Token', these failed too.
Until i changed the uppercase letters in my username to lowercase, now it's working again!

[2020-03-05 12:56] #23 closed

[2020-03-08 15:07] gerthass commented on #20
This would be a nice one, I can't see when the next is playing the radio app, and not which radio channel. This would be usefull to You could create a script which would instantly start the right radio channel and sound mode

[2020-03-25 16:47] netrene opened #24 "Component not working with Home Assistant 0.107.6"
Since Version Home Assistant 0.107.6 the feedback is not working anymore and I get the following error:

Update for media_player.upc_tv_box fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 279, in async_update_ha_state
    await self.async_device_update()
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 476, in asyn

[2020-03-30 10:26] netrene commented on #24
It started working again with 0.107.7. This can be closed.

[2020-03-30 10:26] #24 closed

[2020-05-14 16:58] dynasticorpheus opened #25 "[0.110.0b3] MediaPlayerDevice is deprecated, modify ZiggoNextMediaPlayer to extend MediaPlayerEntity"
homeassistant==0.110.0b3 is raising below warning hence thought giving heads up on this

`WARNING (MainThread) [homeassistant.components.media_player] MediaPlayerDevice is deprecated, modify ZiggoNextMediaPlayer to extend MediaPlayerEntity
`

[2020-05-20 21:30] ping-localhost commented on #25
This issue seems to be resolved with the latest release (v0.1.8). Thanks @Sholofly.

[2020-05-22 05:48] dynasticorpheus commented on #25
Thanks @Sholofly

[2020-05-22 05:48] #25 closed

[2020-05-23 05:50] MisterMeJ opened #26 "Support Netflix and Videoland"
Can you please provide support for taking Netflix (channel 150) and Videoland (channel 151) in your source list?

We already can see on which channel it is, but we can't put the device on the above mentioned channels.

Thanks in advance.

[2020-05-26 17:44] davidrustingha opened #27 "How to use with automations"
The integration works great, but I want to use it in automations and I cant find out how.
can you make it possible to use the media_player.'command here' services?

Thanks!

[2020-05-26 17:57] davidrustingha commented on #27
Apparently the internet issues i've been experiencing were the reason this wasn't working anymore. After a restart they are working again.

[2020-05-26 17:57] #27 closed

[2020-06-11 08:42] GitHubxtsnl opened #28 "Integration not working after upgrading HA to 0.111.0"
running
HA 0.111.0
HASSOS 4.10
on Pi4

after upgrading to HA 0.110.0 the ziggonext integration reports "The following integrations and platforms could not be set up".

below the snippet of my configuration.yaml.

[code]

[2020-06-11 09:14] nelbs commented on #28
My log tells me the following:

[code]

[2020-06-11 11:09] Sjeff commented on #28
Same error.

[2020-06-11 13:58] golles commented on #28
Not sure if that stack trace is accurate (however I got the same). It looks more like it is caused by this: https://github.com/Sholofly/ziggonext-python/blob/master/ziggonext/ziggonext.py#L410

[2020-06-11 14:22] Sholofly commented on #28
I've got the error too. I Will dive into this tonight!

[2020-06-11 15:51] caro7372 commented on #28
Same here, at first I thought it was caused by the unavailability of the logon to mijnziggo.nl
But that is fixed so I patiently wait.

Regards,

Robert

[2020-06-11 20:00] Sholofly commented on #28
Resolved in latest version.

[2020-06-11 20:00] #28 closed

[2020-06-11 23:34] Sholofly commented on #26
Check!

[2020-06-11 23:34] #26 closed

[2020-06-12 06:24] bouwew opened #31 "Cannot change the sensor-name"
When I try to change the sensorname, this message is displayed:
![image](https://user-images.githubusercontent.com/11290930/84471688-2126af80-ac86-11ea-8f6b-adc596c5385e.png)

Core: 0.111.1

[2020-06-12 08:14] Sholofly commented on #31
I'll take a look at it soon but I'm thinking about deprecating the sensor. There's an attribute with the same information. I suggest you create a template sensor: [Home Assistant Template Sensor](https://www.home-assistant.io/integrations/template/)

[2020-06-12 10:12] Gaijin66-git commented on #28
running
HA 0.111.1
HASSOS 4.10
on Pi4 with 4GB

The mediaplayer is working again. Thanks for quick response.

[2020-06-13 07:11] bouwew commented on #31
Yes, I noticed that this is your plan, from the code in your Core PR. I don't mind you following your plan, I would like to suggest that you first create your custom_component as you are planning to integrate it into Core. And have the community test it for you. Once it is working bug-free as a custom_component, then try getting it into HA.

When trying that, you will get a lot of feedback on the

[2020-06-13 07:28] Sholofly commented on #31
Hi Bouwe, Thanks for your feedback! That's exactlyt how i've planned. The last few months i wasn't able to follow up on my integration in core. As result it's marked stale and I decided to leave it for now and do exactly what you suggest, develop my custom_component a bit more. Part of that process  is **deprecating only the sensor part** and focus on the media_player and the python package behind

[2020-06-13 07:48] bouwew commented on #31
I think your python-experience-level is similar to mine, I've started coding about 6 months ago. But I have a "partner in crime" that has more experience, learned a lot from him. Let me know when you'd want some reviewing done, I'll ask him (@CoMPaTech) if he can help out too.

On the other hand, once you go the Core-route, there will be heavy reviewing going on. But more focused on the code to in

[2020-06-13 07:51] Sholofly commented on #31
Hey, didn't say I wouldn't fix the request :)

[2020-06-13 07:57] Sholofly commented on #31
@bouwew Can you update your component and check if it works for you?

[2020-06-13 08:05] Sholofly commented on #22
It is showing as media device now.

[2020-06-13 08:05] #22 closed

[2020-06-13 08:07] Sholofly commented on #19
@silver323  I've decided to go on with de development of this component. I'll keep you posted!

[2020-06-13 08:13] bouwew commented on #31
Sorry, not now, maybe later today or tomorrow..

[2020-06-14 07:28] bouwew commented on #31
Yes, it's working, thanks!!

[2020-06-14 07:28] #31 closed

[2020-06-14 07:39] CoMPaTech commented on #31
If you need any comments or feedback just ping me :)

[2020-06-14 19:35] Stephan296 opened #33 "Doesnt show replay tv anymore"
Since the last update of your component, he doesnt show replay tv anymore. The sensor showes the latest tv-channel.

[2020-06-15 08:28] Sholofly commented on #33
@Stephan296 Should be fixed in the latest version. Can you check and if OK, close this issue?

[2020-06-17 20:39] caro7372 opened #34 "Integration not loading anymore"
Goodevening,

just to make you aware of the integration not loading anymore.
PI-4B all updated to the latest versions.

Regards,

Robert

This morning ( 18-06-2020 ) new version of HA and fixed.

[2020-06-18 05:00] #34 closed

[2020-08-22 09:46] HansHM opened #35 "Component error: ziggonext - Integration 'ziggonext' not found."
Hello Sholofly,

I have tried the manual install and trough HACS, but bouth give a error Component error: ziggonext - Integration 'ziggonext' not found.

configuration.yaml
ziggonext:
  username: xxxxx
  password: xxxxxx

arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.12
installation_type | Home Assistant OS
os_name | Linux
o

[2020-08-25 05:03] #35 closed

[2020-08-26 21:29] netrene opened #36 "Component stopped working"
Hi,

since today update to version 0.1.16 the component is not working anymore. I have the following error:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 191, in _async_setup_component
    result = await task
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/con

[2020-08-26 21:55] Sholofly commented on #36
Please find out what's the personalization URL for your country, using the player in your browser..

[2020-08-26 23:05] netrene commented on #36
Hi,

can you please be a bit more specific.

I´m using country code CH and it is still working with 0.1.13. So I don´t think that there is a problem with the Server URL´s unless you changed them?

René

[2020-08-27 09:40] Sholofly commented on #36
Yeah of course,
You can play tv from your provider in your browser right?

When you open the browser en are logged in check in the developer toolbar (chrome => F12) under the network tab if you can find an URL that ends with: '/personalization-service/v1/customer/<here your id>' Please send me the complete URL but WITHOUT the id.

[2020-08-27 16:04] netrene commented on #36
https://prod.spark.upctv.ch/deu/web/personalization-service/v1/customer/

[2020-08-27 16:26] Sholofly commented on #36
Thanks!

Op do 27 aug. 2020 18:04 schreef netrene <notifications@github.com>:

[2020-08-27 18:27] netrene commented on #36
Tested with 0.1.17 --> working fine now

Thx for the fast fix.

[2020-08-27 18:27] #36 closed

[2020-09-08 14:30] davidrustingha opened #37 "Exit Netflix or Videoland (more control of mediabox)"
First of all, thanks for all the hard work. The integration works like a charm!

Would it be possible to be able to have more control of the mediabox, for example:

- When I launch Netflix, I am not able to launch Videoland while i'm in the Netflix app.
- Is it possible to integrate SEND_KEY options for the Mediabox like the Samsung integration has:

[code]

[2020-09-19 08:52] richardtrinks opened #38 "Use of a second account"
I have two accounts, how can I use the second account? I have tried everything to add a second account, but can't get it done

[2020-09-19 13:17] Sholofly commented on #38
That's not possible m8. I doubt I will implement it since I don't have multiple accounts.

[2020-09-19 13:18] Sholofly commented on #33
Is fixed please reopen. If still occurs.

[2020-09-19 13:18] #33 closed

[2020-10-07 14:47] bouwew opened #39 "Feature Request: detect when the Mediabox is OFF or ON, update HA Core via local push."
Hi Rudy, I was thinking, could the Integration benefit from being “local push”? I was thinking, when being based on push, the Mediabox would not need to be in the high energy mode, the Integration could scan regularly until it finds the Mediabox to be powered on?

[2020-10-07 18:11] Veldkornet opened #40 "HA 0.116 ZiggoNextBox object has no attribute '_change_callback'"
I receive the following error after updating to HA 0.116

[code]

**System:**
[code]

[2020-10-07 18:45] Sholofly commented on #40
Thanks for submitting. I have the same issue. I'm on it, but I don't expect
a fix today ...

Op wo 7 okt. 2020 om 20:11 schreef Veldkornet <notifications@github.com>:

[2020-10-08 20:03] Sholofly commented on #40
Please update ziggonext to v0.2.0 Should be solved. Please report your findings!

[2020-10-08 20:05] Sholofly commented on #37
Hi David, thanks for your suggestions. I will take a look at it. Should be possible!

[2020-10-08 20:09] Sholofly commented on #20
At the moment i don't know how te retrieve radio information. I'll dive into this requst later.

[2020-10-08 21:45] davidrustingha commented on #37
Awesome!

[2020-10-09 10:09] #37 closed

[2020-10-09 10:11] Sholofly commented on #37
@davidrustingha Let me know if it works for you!

[2020-10-09 10:38] Sholofly opened #41 "Check if it is possible to use media browser for recordings"
As a user I would like to start recordings from the HA media browser.

[2020-10-09 13:26] davidrustingha commented on #37
Geez thats quick!
Will test it as soon as I have time! Great work Rudolf!

[2020-10-09 14:38] Sholofly commented on #37
The component was broken after the latest release of HA so i had to take
some action. The requested feature was easy to implement in that process.

Op vr 9 okt. 2020 om 15:27 schreef iron-LAN <notifications@github.com>:

[2020-10-14 08:03] davidrustingha commented on #37
Hi Rudolf, I've tested the new features and they work like a charm.
However, in the documentation you say that either a channel number (36) or Netflix works. I didn't get the last one to work. So this works:
`
service: media_player.play_media
service_data:
  entity_id: media_player.mediabox_next
  media_content_id: 36
  media_content_type: channel
`
This doesn't:
`
service: media_player.play_media

[2020-10-14 11:09] Sholofly commented on #41
Added!

[2020-10-14 11:09] #41 closed

[2020-10-14 11:18] #40 closed

[2020-10-14 11:19] Sholofly commented on #39
Hi Bouwe,

Did you realize that when the box is in energy saving mode, you aren't able to turn the box on with the integration?

[2020-10-14 11:20] Sholofly commented on #19
@silver323 What shoud the sensor say when playing a recording? The channel of the record?

[2020-10-14 11:34] Sholofly commented on #20
The interface does not support it. Therefor i have to close this. I'm sorry!

[2020-10-14 11:34] #20 closed

[2020-10-14 11:38] bouwew commented on #39
Yes, I realize that. I never use the integration to turn the box on or off. This is always done via the Harmony Hub remote control, which also controls the TV and the surround receiver.

I realize I could do all this from HA Core but I prefer to keep using the Hub as it allows me to turn the box off, so it does not consume too much power when it's off, which is at least 70-80% of the time. Also, i

[2020-10-14 11:55] Sholofly commented on #37
I've fixed it. Please note: You'll have to pass ```content_media_type: app``` for Netflix and Videoland. Docs are updated :)

[2020-10-14 12:33] silver323 commented on #19
@Sholofly If it's possible to see the channel it's great. Otherwise showing the status ReplayTV.

[2020-10-17 07:24] Sholofly commented on #19
Should be solvee when updating to latest version!

[2020-10-17 07:24] #19 closed

[2020-10-17 09:46] bouwew commented on #39
Just tried whether this works, with version 0.4.6.
This seems to work now: the component reports the box as unavailable until I switch it on. Then the mediaplayer-card shows the box as active, displaying the program info etc. When I switch it back to off, that is also quickly displayed on the mediaplayer-card.

Nice job, thanks!!

[2020-10-17 09:46] #39 closed

[2020-10-22 19:47] BRdev commented on #22
It's showing as a media device and when you tap on it, the only thing you can do is turn it on/off. Maybe there's a method to make the HA media-component controlls like play/pause and source available in Google Assistant.

![Screenshot_20201022-214334_Home](https://user-images.githubusercontent.com/7237925/96922501-3ae7c700-14b0-11eb-8553-4a0c471a0583.jpg)
![Screenshot_20201022-214325_Home](https:

[2020-10-31 13:11] mvanrijnen opened #48 "Sensors reacts slow"
When changing channel, the Next Card displays the choosen new channel immediatly, but it takes a few seconds before the sensor changes ? (tested it with putting the ZIggoNext  card, and an entity card with the sensor.ziggnonext_channel on the frontend

[2020-11-01 21:26] davidrustingha opened #49 "YouTube as media_content_id"
Would it be possible to add YouTube to media_content_id?

Thanks!

[2020-11-01 21:54] Steefph opened #50 "0.5.0 requires "ok" when changing channel"
When trying to change the channel using the service a pop-up is shown on the TV asking to press ok.

I call the service using:
entity_id: media_player.mediabox
media_content_id: 1
media_content_type: channel

Am I doing something wrong or did Ziggo change something?

[2020-11-14 21:23] mikyD84 opened #51 "BE version telenet"
when i install the component, i get the error that te credentials are not correct, but on the site (telenettv.be) i can logon and control the devices,

any sugestions?

`Logger: homeassistant.setup
Source: custom_components/ziggonext/__init__.py:30
First occurred: 22:02:35 (1 occurrences)
Last logged: 22:02:35

Error during setup of component ziggonext
Traceback (most recent call last):
  File "/u

[2020-11-29 16:06] Polderdijk opened #52 "TypeError: 'NoneType' object is not subscriptable when Videoland started"
When starting Videoland, the component stop working with the following error in the logfile:

Logger: root
Source: /usr/src/homeassistant/homeassistant/bootstrap.py:318
First occurred: 16:51:00 (1 occurrences)
Last logged: 16:51:00
Uncaught thread exception

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/usr/

[2020-12-04 13:58] ashmodai6 opened #53 "Seems to systematically loose the connection after some time"
Hi
First fantastic piece of work. Thanks a lot about this.
I do have an issue with this component that seems to "loose" the connection after some times on a systematic manner. I mean if I don't restart HA the component will stop working (and not display correctly my box status) after 2-3d.
Is there a way to "ping" the box to be sure the connection is still active and reinitiate it otherwise ?
Than

[2020-12-05 22:12] Sholofly commented on #51
Please update the component and try again.

[2020-12-06 05:36] caro7372 commented on #53
Yes, I have that same issue too. I recognize this when the screenshot is gone.
Hope there is a soluties.

For the rest, I really like this. Was one of the first I had in HA dashboard.

Regards,

Robert

[2020-12-06 19:43] Sholofly commented on #53
Do you guys play radio stations?

[2020-12-06 19:43] #51 closed

[2020-12-06 19:44] Sholofly commented on #50
It's a change in the software. I'll dive into this.

[2020-12-06 19:47] caro7372 commented on #53
Hi, do you mean radiostations on the ziggo mediabox? No, I’m not. I change my mediaplayer integration with Sonos to Spotify.

Regards,

Robert

[2020-12-06 19:47] Sholofly commented on #49
No, I don't think so. In contrast to Netflix and Videoland, Youtube isn't assigned to a channel but only available as app. In the current method the youtube app (similar to i.e. the radio) isn't controllable by this component.

[2020-12-06 19:47] #49 closed

[2020-12-06 20:13] geertsmichael commented on #52
I fixed this one I believe, can you check again on the latest version?

[2020-12-07 08:34] Polderdijk commented on #52
I can confirm this update solved this problem! Many thanks and keep up the good work!

[2020-12-07 08:35] #52 closed

[2020-12-07 09:51] mikyD84 commented on #51
thnx all works fine!!!

[2020-12-07 16:31] jrspowers opened #56 "Opnames telenet box niet werk"
Hallo

Ik heb alles ingevuld zo als het moet ? alles werk de media player met foto weergaven en de functie zender en aan/uit werk  ook almaal ? het is alleen de opnames die het niet doen ik kan de opnames niet open in de media ? dan krijg de fout bij bladeren door media unknown erro ? Het zouw fijn moest het opgelost geraak merci alvast ! ![C573A84A-D654-4ADF-B5B4-EB6B9EFA3774](https://user-images

[2020-12-07 20:26] Sholofly commented on #56
@geertsmichael Would you mind to take a look? Can't figure out the problem since i don't have a Telenet Box.

[2020-12-07 20:37] geertsmichael commented on #56
@jrspowers zou je het deel in de log file kunnen delen dat de fout voor ziggonext toont. Die details heb ik nodig om te bepalen waardoor het fout gaat.

[2020-12-07 20:45] jrspowers commented on #56
@geertsmichael dit is alles wat ik vind in de log wat op een fout kan lijken ?
 File "/usr/src/homeassistant/homeassistant/components/websocket_api/decorators.py", line 18, in _handle_async_response
    await func(hass, connection, msg)
  File "/usr/src/homeassistant/homeassistant/components/media_player/__init__.py", line 1066, in websocket_browse_media
    payload = await player.async_browse_med

[2020-12-07 21:03] geertsmichael commented on #56
Ik heb gevonden waar het aan ligt. Ik probeer zo snel mogelijk de fix uit.

[2020-12-07 21:04] jrspowers commented on #56
@geertsmichael dat is top laat maar weten als het inorden is merci alvast !

[2020-12-07 21:50] geertsmichael opened #57 "Switching to VOD crashes component"
Go to video on demand, this is causing the component to crash.
Fixing that is easy, but switching to watching TV again, will crash the component again.

[2020-12-07 22:08] geertsmichael commented on #56
Versie 0.7.4 zou beschikbaar zijn waarin het probleem is opgelost.
Kan je dat eens proberen @jrspowers ?

[2020-12-07 22:10] jrspowers commented on #56
ik ben hem juist aan installeren en heropstart aan doen laat u zo weten @geertsmichael

[2020-12-07 22:11] jrspowers commented on #56
nog altijd de zelfde fout @geertsmichael

[2020-12-07 22:13] jrspowers commented on #56
Logger: homeassistant.components.websocket_api.http.connection
Source: custom_components/ziggonext/media_player.py:303
Integration: Home Assistant WebSocket API (documentation, issues)
First occurred: 23:10:58 (4 occurrences)
Last logged: 23:12:12

[139794917259632] Error handling message: Unknown error
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/webs

[2020-12-07 22:49] geertsmichael commented on #57
Fixed in ziggonext-python

[2020-12-07 23:06] geertsmichael commented on #56
Dit is een andere fout. Je hebt vermoedelijk een opname zonder afbeelding. Ik heb de fix al, maar test hem morgen.

[2020-12-07 23:23] jrspowers commented on #56
ja dat klop staan wel tussen kan ik zelf niks aan doen he kiest de opnamen zelf voor en top laat maar weten dan test ik hem als ik wakker ben merci alvast @geertsmichael

[2020-12-08 12:51] ashmodai6 commented on #53
Hi Rudolf, neither do I. Only TV and recordings ... Never any radiostations

[2020-12-08 20:21] geertsmichael commented on #56
Kan je de component updaten naar versie 0.7.5 en opnieuw proberen?

[2020-12-08 20:38] jrspowers commented on #56
Hallo @geertsmichael ik heb de 0.7.5 geïnstalleerd maar deze heeft het probleem nog niet opgelost ik kan nog steed geen opnames open ik krijg de zelf fout als hier voor de unknown erro dus snap het niet in de logs staat allen dit

Logger: homeassistant.components.media_player
Source: /usr/local/lib/python3.8/asyncio/events.py:81
Integration: Mediaspeler (documentation, issues)
First occurred: 12:2

[2020-12-09 09:17] jrspowers commented on #56
@geertsmichael hallo merci voor het fixen van deze probleem het werk almaal nu heel goed dus nog maal bedankt

[2020-12-09 19:17] #56 closed

[2020-12-11 22:23] Polderdijk commented on #53
I found a reason when the component loose (a part of the) connection.

When playing from DVR and turning of the Next box, you loose almost any information. A hassio restart will recover.

[2020-12-11 22:28] Polderdijk commented on #50
I found a solution. When you change a channel via a script, i check attribute play_mode. When its reviewbuffer, I turn off the Next. Wait 2 seconds and turn it on. Then change to the new channel.

Maybe we can overcome this when we can send a OK button press via a script when its in reviewbuffer mode?

[2020-12-11 22:34] Polderdijk commented on #48
You can fix this with template sensors:

- platform: template
  sensors:
    your_name:
      friendly_name: Your friendly name
      value_template: "{{ state_attr('media_player.ziggo', 'channel (or any other attribute)' }}"
      icon_template: mdi:television

[2020-12-12 17:30] KennieNL commented on #53
Same here, haven't figured a pattern yet. If i can/need to check anything when it happens, let me know.

[2020-12-13 11:53] Polderdijk opened #59 "Uncaught thread exception on channel 997/998"
When changing channel to 997 or 998 a Uncaught thread exception fires and the component frees.

Logger: root
Source: /usr/src/homeassistant/homeassistant/bootstrap.py:318
First occurred: 12:27:46 (1 occurrences)
Last logged: 12:27:46
Uncaught thread exception

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/us

[2020-12-18 09:52] nljuggler commented on #53
I can confirm the behaviour @Polderdijk is describing.

Steps to reproduce:

1. Restart HA (just to make sure the connection is there)
2. Turn on the the Mediabox Next
3. (Use HA to confirm the connection is there)
4. Using the remote, start a previously recorded program
5. Turn off the Mediabox (while playing the recording)
6. Turn the Mediabox on using HA (this still works once)
7. From this poi

[2020-12-20 16:00] geertsmichael commented on #53
I was able to reproduce the issue and a fix is coming.

[2020-12-20 17:59] Sholofly commented on #59
Should be fixed. Please let me know your findings!

[2020-12-20 17:59] Sholofly commented on #53
Should be fixed. Please let me know your findings.

[2020-12-20 18:00] Sholofly commented on #48
I'm planning to deprecate the channel sensor, because @Polderdijk is right. You can create template sensors out of the attributes.

[2020-12-20 18:01] #48 closed

[2020-12-20 18:01] Sholofly commented on #50
@Steefph Can you confirm this issue still exists. I am not able to reproduce the issue.

[2020-12-20 18:05] Steefph commented on #50
@Sholofly sorry for the are reply, yes it works perfect now thanks!

[2020-12-20 18:29] #50 closed

[2020-12-20 18:35] X1pheR commented on #53
I'm also experiencing the lost connection issue. Good to see a probable fix is here now. Will also report my findings. Love your work BTW. We use the integration A LOT!

[2020-12-20 18:38] Sholofly commented on #53
Could you update the component. Should be fixed in the latest version.

[2020-12-20 18:42] caro7372 commented on #53
I updated just one minute ago and my daughter is watching a recording.
When she is done I will shutdown the mediabox with HA while playing the recording.
Start up the mediabox again and see what happens.

[2020-12-20 19:22] caro7372 commented on #53
Here we are again.

This is what I did. While playing a recording I did shut down the Ziggobox from within HA.
It did shut down but the 'power' button in HA kept its orange color.
I could not turn on from within HA and when starting the box with its own remote nothing was showed in HA.

Regards,

Robert

[2020-12-20 19:32] Sholofly commented on #53
Do you have errors in the logging?

Op zo 20 dec. 2020 om 20:22 schreef caro7372 <notifications@github.com>:

[2020-12-20 19:35] caro7372 commented on #53
Where exactly you want me to look. In the supervisor log?
There are no errors.

[2020-12-20 20:04] geertsmichael commented on #53
The error will be visible in the home assistant log or core log.

[2020-12-21 10:45] nljuggler commented on #53
That are the quirks of being a software developer. ;-)

[2020-12-22 18:02] Polderdijk commented on #59
I update and tested it, but the same error, but on line 187.

If i can provide you with more info, please let me known.

[2020-12-22 19:46] ashmodai6 commented on #59
Actually for me not fixed either ...

Le mar. 22 déc. 2020 à 19:03, Polderdijk <notifications@github.com> a
écrit :

[2020-12-23 11:24] KennieNL commented on #53
I do not see anything in the core log when this issue does happen.

[2020-12-23 15:01] #57 closed

[2020-12-26 08:37] Sholofly commented on #59
You guys were right. There was still an issue. Its fixed now.

[2020-12-26 08:38] #59 closed

[2020-12-26 08:39] Sholofly commented on #53
Hi @ashmodai6  & @KennieNL I did a stability update last week. Would you mind to check if the issue still exist?

[2020-12-26 08:41] caro7372 commented on #53
For me it still exists. But I will test it right now.
Comments wil follow underneath this line.
------------------------------------------------------------------------------------------------------------------

[2020-12-26 22:14] GeertvanHorrik opened #60 "Media player not showing up"
I've enabled this yesterday, but I cannot see the media player.

I tried:

1. Making sure to login to ziggogo.tv => all visible and I can see my mediabox
2. Enabled debug logging. I can see large json data (including my personal info) being returned, so username / pwd seems to work correctly.

I could not find any mediabox related info in the json, mostly person info, entitlements, etc.

Any idea

[2020-12-26 22:18] GeertvanHorrik commented on #60
Additional info that might be useful: I can't rename the mediabox on my ziggogo.tv account. Could it be that the new firmware is not yet supported?

[2020-12-30 12:30] KennieNL commented on #53
Seems stable for me at this point.

[2021-01-02 13:29] ashmodai6 commented on #53
I still have issues in my side without being able to spot what is causing them. From logs I see

media_player.eos_cpe: Sources out of sync. Restart Home Assistant
14:25:59 – HomeKit (WARNING) - message survenu pour la première fois à 26 décembre 2020 à 18:49:44 et apparu 477 fois.

[2021-01-17 15:45] steuerzentrale commented on #53
First of all many thanks for this component!

I have the same issue, HA is not in sync with my UPC tv box (Switzerland) and it seems to loose the connection after around one day. After updating to the newest version of HA, it does recognize the box, but it doenst update the status. A restart and even reboot HA doesnt seem to help. In the screenshot the media_player entity states playing, but the b

[2021-01-17 18:33] geertsmichael commented on #53
I put in a fix for CH specific: https://github.com/Sholofly/ziggonext-python/pull/28
@Sholofly can you release a new version of ziggonext-python?

[2021-01-17 20:41] Sholofly commented on #53
Check, you can update!

Op zo 17 jan. 2021 19:33 schreef Michaël <notifications@github.com>:

[2021-01-17 21:12] steuerzentrale commented on #53
you guys are fantastic! now its working again ;) I will keep an eye on the box if the connection remains and would inform here if I discover anything unusual.

just a little side note: it takes around 5-10 secs for state changes, e.g from playing to paused. I use the state of the media_player for a light dimming automation, thats why I noticed that.

anyway, many thanks for this cool component.

[2021-01-29 12:15] ArnoutVerbeken opened #61 "KeyError: 'location" during setup (Telenet)"
Hello,

I tried to get this integration working but it seems it does not work.

Everything is up to date on HASS level.
In my configuration.yaml I have this:

[code]

[code]

As far as I can see, everything is setup correctly.

My Telenet Decoder is the following type:  HD DigiCorder (AD2100)

Do you know what can be wrong?

[2021-02-09 17:03] Polderdijk commented on #53
Hi,

Sinds a few weeks the component fails again after a while.

I can't remember the exact moment, but got the following error in the log:

`Traceback (most recent call last): File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner self.run() File "/usr/local/lib/python3.8/threading.py", line 870, in run self._target(*self._args, **self._kwargs) File "/usr/local/lib/python3.8/

[2021-02-09 17:11] Polderdijk commented on #53
You can add a template sensor in HA to extract the needed attribute(s) from the main ziggo integration. Then you got (almost) realtime the correct information for your automations.

Like:
`value_template: '{{ state_attr("media_player.ziggo", "play_mode") }}'`

[2021-02-09 17:38] Sholofly commented on #53
Thanks for the detailed information. It's hard to reproduce but in the end I can work around it and isolate and log the message to find out what's causing this error. I'll look into it this week, and keep you posted.

There's a buy me a coffee link on top of the docs. I'm not into this for the money and my python skills are not very impressive so I didn't want to add too much buttons for payment s

[2021-02-09 19:39] Sholofly commented on #61
Hi @ArnoutVerbeken This component is only suitable for the Telenet TV-box, not for the other decoders. They use a different communication and are therefore not supported. I'm sorry!

[2021-02-09 19:39] #61 closed

[2021-02-09 19:40] Sholofly commented on #60
Hi @GeertvanHorrik, this component only supports the ziggo next box, not the horizon boxes. I'm sorry.

[2021-02-09 19:40] #60 closed

[2021-02-09 19:41] Sholofly commented on #38
@richardtrinks Can I close this issue?

[2021-02-09 19:49] Sholofly commented on #53
@Polderdijk I've updated the component. It will log the state of the box if your error occurs again, but it shouldn't cause the box to become unresponsive. Would you mind to keep an eye on your logs to detect if the error pops up again the coming weeks?

[2021-02-14 18:02] Martinvdm opened #62 "Stopped working with 403 error"
After a long period this integration stopped working.
Error:
Api call resultcode was 403. Refreshing token en trying again...

Username, password is not changed and has worked before. Just updated the component.

[2021-02-15 18:54] Polderdijk commented on #53
I can confirm that after updating the component now works for over a few days.

Thanks!

[2021-02-19 23:29] craigmcgowan opened #63 "UK Virgin Media Integration - Virgin TV 360"
I believe the new Virgin Media TV 360 boxes which started shipping in November are using the same integration.

URLs to use are https://prod.oesp.virginmedia.com/oesp/v3/CH/eng/web/session

Would be appreciated if this could be added. I'm more than happy to test and feedback then as these boxes are being shipped with all new VM accounts now

Thank you very much.

[2021-02-20 06:40] Sholofly commented on #63
I will need another URL to try to make it work. I'll contact you in a few days ok?

[2021-02-20 08:01] Sholofly commented on #53
Would you keep an eye on the logs? I just used a work around to prevent de box from stopping, but i am curious why it stopped. It gets an update from your mediabox but with a message it couldn't handle.

[2021-02-20 09:40] craigmcgowan commented on #63
Yes of course, just let me know what you require.

Thank you

[2021-02-20 11:03] Sholofly commented on #63
Please help me with the following:

I need a URL than starts with something in the following format:
https://prod.spark.ziggogo.tv/nld/web/personalization-service/v1/
Key here is de .spark part and the personalization-service part, the other parts can look slightly different.

To obtain it, please login to the web environment using chrome and press F12
Look for above URL and send it to me in a pri

[2021-02-20 13:52] craigmcgowan commented on #63
Just sent you an email with it on.
Thank you very much.

[2021-02-20 17:53] Sholofly commented on #63
@craigmcgowan I'm working on it but the login process is different than other providers. It's very difficult to get into it when not being able to login. Are you able to communicate via Discord? You can contact me via Sholofly#4951.

[2021-02-25 11:00] Polderdijk commented on #53
I found another reason why the component loose the connection.
When looking on the time, I think the reasen for this is likeley a Next software update, maintanance, connection error or something. The box was off over an hour before this error occours.

`Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/usr/local

[2021-03-04 07:03] Sjeff opened #64 "Version Requirement in future HA builds"
2021-03-04 07:56:14 WARNING (MainThread) [homeassistant.loader] No 'version' key in the manifest file for custom integration 'ziggonext'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'ziggonext'

see the [Breaking Changes](https://www.home-assistant.io/blog/2021/03/03/release-20213/#breaking-changes)
![image](https://user-images.githubuser

[2021-03-04 12:27] Sholofly commented on #64
@Sjeff Thanks! There's an ongoing PR #65 for this! It will be updated soon!

[2021-03-04 12:52] #64 closed

[2021-03-07 10:16] Martinvdm commented on #62
Any news on this? for whats is worth this is my url:

https://prod.spark.ziggogo.tv/nld/web/personalization-service/v1/customer/

[2021-03-19 14:48] digital-IMEI commented on #53
Hi @Sholofly

I'm also having this issue where the box becomes unresponsive after a while. As I'm fairly new to Home Assistant I'm not sure if I done everything the right way. Searching for a solution I found this page.
I replaced the component for the ziggonext-python component (March 9th), expecting more logging. But for some reason that's not happening. The box got stuck yesterday but I can't f

[2021-03-21 21:53] Sholofly commented on #63
Added the GB support!

[2021-03-21 21:53] #63 closed

[2021-03-21 21:54] Sholofly commented on #62
Hi Martin,,

Sorry for the slow response. Please update your component. Should work, but please keep an eye on the logs!

[2021-03-21 21:58] Sholofly commented on #53
Hi Ivo,
You'll need the Ziggo Next component. It uses the python package on the background :)
Please enable debug logging and drop the logs if you have this issue again:

[code]

[2021-03-21 22:16] Sholofly opened #66 "Add button press service"
It would be nice if one is able to emulate a remote button press via a service call.

[2021-03-22 14:14] davidvf commented on #62
I have similar behaviour after upgrading to latest version..

I am using the `be-nl` implementation
[code]

[2021-03-22 14:37] Sholofly commented on #62
Hi @davidvf,

There is an issue in the latest version due to merging the Belgian and the British version. Please downgrade your version to get it back up again. I'll let you know when it's solved. My apologies for any inconvenience.

[2021-03-22 18:31] Sholofly commented on #62
@michael-geerts would you to investigate this with me? I am the one that broke the component, bit even when I compare it with a working version I can't find what I am doing wrong. Since I can't test it from NL it's hard for me to find the issue. Maybe I can explain to you what I did that broke it?

[2021-03-22 19:15] geertsmichael commented on #62
Which is the working version and when did it broke?

[2021-03-22 19:29] davidvf commented on #62
In my case v0.8.0 broke the `be-nl` support. Before that i had `v0.7.10` running without any issue.

[2021-03-22 20:21] geertsmichael commented on #62
So that means this commit?
https://github.com/Sholofly/ziggonext-python/pull/30/commits/8aa01768d520e3242fb74df75c84ccec1ae56203

[2021-03-23 05:44] Sholofly commented on #62
Yeah, it's that commit. I've added GB support, also oAuth. There are minor differences so I merged the function to create a session. Even when I copy the function from the old version. It doesn't work.

[2021-03-25 20:11] digital-IMEI commented on #53
Hi @Sholofly ,

Is this the log you need?
`Logger: root
Source: /usr/src/homeassistant/homeassistant/bootstrap.py:311
First occurred: 9:02:20 PM (1 occurrences)
Last logged: 9:02:20 PM

Uncaught thread exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.8/threading.py", line 870, in

[2021-04-01 21:18] Sholofly commented on #62
I've managed to fix it. Belgian version should work now after update.

[2021-04-01 22:04] Sholofly commented on #53
Please update to v0.8.2 of this component and please enable debug logging. Should be better now!

[2021-04-01 22:05] Sholofly commented on #62
@Martinvdm  Please enable the debug logging for this component and try again! I did some stability updates.

[2021-04-02 17:05] geertsmichael commented on #62
I did test this and it works again for me (BE-nl).
Thanks (and apologies I couldn't help fixing it, too busy work schedule)

[2021-04-02 18:03] Sholofly commented on #62
No problem. Thanks for testing...

Op vr 2 apr. 2021 19:05 schreef Michaël ***@***.***>:

[2021-04-08 12:02] golles opened #67 "Uncaught thread exception"
Hi, yesterday I updated HA to 2021.4 and while reviewing all the logs I noticed this one.
I've got your master branch checked out.

[code]

[2021-04-08 21:05] Sholofly commented on #67
Hi @golles , Thanks for your report. Please update the component to fix this ussue :)

[2021-04-08 21:06] Sholofly commented on #38
Stale, therefore closed

[2021-04-08 21:06] #38 closed

[2021-04-08 21:07] Sholofly commented on #62
Looks like this issue is fixed.

[2021-04-08 21:07] #62 closed

[2021-04-08 21:08] Sholofly commented on #53
Updating to the latest version should fix your issue.

[2021-04-08 21:08] #53 closed

[2021-04-08 21:08] #67 closed

[2021-04-09 22:38] golles commented on #67
Hi @Sholofly I got the same stack trace but now with a KeyError. I didn't want to open a new ticket for this, as it's the same issue, can you reopen this issue for me?

[code]

[2021-04-09 22:58] Sholofly commented on #67
Hi and thank you for your response. Actually it's a different error.

Please open a new issue for this. Helps me keeping track..

Op za 10 apr. 2021 00:38 schreef Sander ***@***.***>:

[2021-04-10 08:41] golles opened #68 "KeyError error"
After a while, the integration stopped working and I noticed a KeyError in the log.

All relevant logs:
[code]

[2021-04-12 20:59] LKonijn commented on #35
I got the same error, what did I miss?

[2021-04-12 21:38] Sholofly commented on #68
Please update! I added some exception handling. Please would you mind to keep an eye on the logs and report any errors and warnings?

[2021-04-12 21:38] #68 closed

[2021-04-12 21:45] Sholofly commented on #35
It looks like it didn't install the package properly. A simple reboot should do the trick.

[2021-04-12 21:47] golles commented on #68
I Will update now and report back tomorrow, I noticed that the previous error happened quite quickly after the media box was turned on

[2021-04-13 05:01] Sholofly commented on #68
Thanks m8!

Op ma 12 apr. 2021 23:48 schreef Sander ***@***.***>:

[2021-04-13 19:35] golles commented on #68
I've seen no issues after your fix, thanks for the quick fixes!

[2021-04-14 07:00] golles commented on #68
Hmm, there are still no errors in the log, but I do see that the connection with te device is lost, HA is still reporting the media player as on (for 11 hours) and I can't control it from HA.
I will enable extra logging to see if there is something interesting in there.

[2021-04-16 07:15] golles commented on #68
After enabling the logs I haven't seen any issues :-)

[2021-04-16 17:01] bkbartk commented on #53
Hello. I like your plugin very much. But I still have this issue ov v0.9.4.
i use the Dutch ziggo next box. And I have the feeling this issue especially happens after using replaytv/watch back functionality.

[2021-04-16 17:08] Sholofly commented on #68
Just found another issue. FIxed it and updated the component.

Op vr 16 apr. 2021 om 09:16 schreef Sander ***@***.***>:

[2021-04-16 17:12] Sholofly commented on #53
@bkbartk Thank you for your message!
I've updated my component a few minutes ago. It should make it more stable. Please update!
Would you mind to help me and enable DEBUG logging for the underlying package in HA? It providers some valuable information about the messages the box communicates with my component.

[code]

[2021-04-16 18:14] bkbartk commented on #53
Hello,

Thank you for the update, I applied it. And also added the lines above to my configuration.
I see a lot of additional info in my core log. but since I just needed to restart HA all works fine now.
once stuff stops working I will share the log information.

[2021-04-16 18:50] golles commented on #68
Thanks for the heads up, pulling it in as we speak :-)

[2021-04-17 10:05] bkbartk commented on #53
ok, as promised, here is some log information

2021-04-17 07:16:03 DEBUG (Thread-3) [ziggonext.ziggonext] State update message received: {'version': '1.3.12', 'type': 'CPE.uiStatus', 'source': '3C36E4-EOSSTB-003703073902', 'messageTimeStamp': 1618643763679, 'status': {'uiStatus': 'mainUI', 'playerState': {'sourceType': 'linear', 'speed': 1, 'lastSpeedChangeTime': 1618607652954, 'source': None}, 'u

[2021-04-17 10:10] golles commented on #68
I noticed the integration giving the warning again.
When I turned on the tv/mediabox it was set to RTL4, then I switched with the remote to Ziggo Sport channel (14)

[code]

Hope this helps

[2021-04-17 15:20] Sholofly commented on #68
@golles That's valuable information. Can you provide me the data at the beginnening of the log? Its a very large chunk of data..

[2021-04-17 20:40] golles commented on #68
I think you mean this one, I've `XXX`-ed out a lot of privacy-related values

[code]

[2021-04-17 21:29] Veldkornet opened #69 "WebSocket handshake error"
HomeAssistant 2021.4.5
Plug-in version 0.9.5
Started getting this issue today out of the blue when I restarted HomeAssistant:

[code]

[2021-04-18 04:17] HA-Peet commented on #35
Same here, reboot won't do the trick

[2021-04-18 05:20] Sholofly commented on #35
How do you install the component?

[2021-04-18 05:22] Sholofly commented on #68
That's smart! I Should have mentioned that. Thank you for your dedication ;)

Op za 17 apr. 2021 22:40 schreef Sander ***@***.***>:

[2021-04-18 06:24] Sholofly commented on #69
Hi @Veldkornet, There was a problem at the Ziggo end. I was developing this component and ran into the same issue :)

[2021-04-18 06:40] Veldkornet commented on #69
Hmm yes, seems to be okay now! 😁

[2021-04-18 06:40] #69 closed

[2021-04-18 06:50] HA-Peet commented on #35
Installed it manually. All files to custom_components/ziggonext and the ziggonext user/pass in configuration.yaml

![image](https://user-images.githubusercontent.com/80528931/115136868-e8cccc00-a022-11eb-833f-7924c03852a4.png)

[2021-04-20 19:10] silver323 opened #70 "Mediaplayer stays on Videoland"
Dear,

Recently I noticed that the media player only shows the image from Videoland. So it no longer shows the actual channel which is currently on.
The sensor of the channel is also one that does not change and only remains on Videoland.
![image](https://user-images.githubusercontent.com/42837826/115450785-a53db200-a21c-11eb-9c1d-ab62d53a0bc4.png)
![image](https://user-images.githubusercontent.co

[2021-04-21 19:16] digital-IMEI commented on #53
Hi Roelof,
I wanten to share my log with you. Is this the information you are looking for?

`Logger: root
Source: /usr/src/homeassistant/homeassistant/bootstrap.py:310
First occurred: 8:22:48 PM (1 occurrences)
Last logged: 8:22:48 PM

Uncaught thread exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/u

[2021-04-27 19:44] StevoNL commented on #70
Getting these type of crashes too. Also happens when viewing on demand / aflevering gemist. Got this out of the logs, always the same error: one expected two were given. Restarting Home Assistant fixes it for a while.

2021-04-27 21:19:43 ERROR (Thread-3) [root] Uncaught thread exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/threading.py", line 932, in _bootstrap_inne

[2021-04-30 09:29] jordy101091 opened #71 "Error on Component setup hassio core-2021.4.6"
Logger: homeassistant.setup
Source: custom_components/ziggonext/__init__.py:30
First occurred: 11:23:52 (1 occurrences)
Last logged: 11:23:52

Error during setup of component ziggonext
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 242, in _async_setup_component
    result = await task
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py",

[2021-05-01 13:40] golles commented on #68
@Sholofly can you reopen the issue to not forget about this ^ :-)

I guess the problem is that the channel id `NL_000197_019504` is not in `entitlements` or in `rbEntitlements` ?

I did try a few previous versions of this custom_component and can confirm that this issue is not caused by any recent changes

[2021-05-03 19:59] digital-IMEI commented on #53
Hi Rudolf (sorry I misspelled your name last post! ;) )

any news on this or perhaps should I open a new issue ? I’m still facing the same issues as when going true the steps @nljuggler described.

See the log above.

Thanks in advance!

[2021-05-04 06:53] Sholofly commented on #71
Hi Jordy, Can you give me more info about your config?

[2021-05-04 07:01] Sholofly commented on #70
Have you updated the component? Looks like you use an old version.

[2021-05-04 08:47] Sholofly commented on #70
Good to hear!

[2021-05-04 19:21] moostmartijn opened #72 "Error during setup"
Unfortunately the custom component stops working after a while. Most of the times after playback of a recording. Most of the time it works again after a restart of Home Assistant. Today it stopped working and I did a restart, but I keep getting this error:

[code]

The custom component won't setup unfortunately. Any ideas what could cause this error?

[2021-05-05 05:53] Sholofly commented on #72
Can you connect to the box via the ziggogo.tv website?

Op di 4 mei 2021 21:22 schreef moostmartijn ***@***.***>:

[2021-05-05 10:43] moostmartijn commented on #72
Yes, connecting to the box through ziggogo.tv works perfect!

[2021-05-05 18:35] moostmartijn commented on #72
The custom component stopped working today and I checked if I could connect to the box through ziggogo.tv, but the connection button with the box name is grayed out, so I'm not able to connect. I also checked the (debug) logs of Home Assistant and I got this error:

[code]

[2021-05-05 19:07] sven41 opened #73 "TV channel error"
TV channel 14 Ziggo sport does not provide the information available

[2021-05-05 19:10] sven41 commented on #73
Logger: ziggonext.ziggonextbox
Source: /usr/local/lib/python3.8/site-packages/ziggonext/ziggonextbox.py:214
First occurred: 21:04:23 (1 occurrences)
Last logged: 21:04:23
Couldn't set channel. Channel info set to unknown...

[2021-05-05 21:31] DutchDeffy opened #74 "HomeAssistant 2021.5 no 'version' key in manifest"
Hi, I really love your integration for the ZiggoNext. I just update to 2021.5 and got this error:

[code]

This has to do with the breaking changes https://www.home-assistant.io/blog/2021/05/05/release-20215/#breaking-changes

[ #49726](https://github.com/home-assistant/core/pull/49726)

[2021-05-05 21:36] #74 closed

[2021-05-10 07:15] Sholofly commented on #73
Hi @sven41 Can you confirm that this is temporary? I use that channel often and sometimes there's an issue with the data delivered. Afterwards it will correct itself.

[2021-05-10 07:31] Sholofly commented on #72
Strange! Is it still not working? The first errors are all pointing to a connection problem between your box/HA and the Horizon servers.

[2021-05-10 18:53] sven41 commented on #73
Hi Sholofly, sender 14 ziggo sport always get no information available. The another senders works correctly but 14 always get this.

[2021-05-11 18:12] digital-IMEI opened #75 "Uncaught thread exception at power on after vod or Netflix"
Hi Rudolf,

I’m still facing issues after watching Netflix or using the playback function.
after powering the box, the component crashes.

[code]

any advice? I’m on  the latest version.

[code]

[2021-05-13 14:37] moostmartijn commented on #72
Unfortunately it still doesn't work. Sometimes it will work for some time after a restart, but most of the time it stops working the same day or the day after.

[2021-05-13 22:55] TryhomeIT commented on #70
im having the same issue, after some time media player just shows playing and i cannot turn off or change channel.

[2021-05-14 09:49] Sholofly commented on #75
Please update to the latest version . I added some fallbacks when the information is not complete, or at least different from what I expect.

[2021-05-14 09:53] Sholofly commented on #73
Please  update to the latest version. I added some stability improvements. I can't reproduce this behavior. Are you able to enable logging so i can see what's ging on?

[2021-05-14 09:55] Sholofly commented on #70
@TryhomeIT Please update!

[2021-05-14 12:20] sven41 commented on #73
top I'm going to see if this solves the problem. How can I turn on the log? haha

[2021-05-14 19:14] digital-IMEI commented on #75
I've updated the component (manifest file). I don't know what you've done but i'm not able to reproduce the issue anymore. 🙌

I'll report back if it happens again. Thx!

[2021-05-15 21:19] StevoNL commented on #70
Thanks for the update Rudolf! Now only had a warning, not a crash.
2021-05-15 19:32:38 WARNING (Thread-5) [ziggonext.ziggonextbox] No channelId in stateSource. State update was skipped.

[2021-05-21 17:01] richardtrinks opened #76 "Change channel names?"
When I say Hi Google, put television on SBS 6
Then Google home indicates that it was not found.
But I say Hi google, put television on SBS 6 HD
Then it all works perfectly.
Is there a possibility that HD will be omitted?
So that we can just say television on SBS 6? Without HD suffix?
![Channel_list](https://user-images.githubusercontent.com/15097817/119172992-e1a43e00-ba66-11eb-8d51-981bb0646a69.p

[2021-05-23 17:34] digital-IMEI commented on #75
Hi,

just a quick update, no issues so far anymore 🙌

[2021-05-23 19:33] #75 closed

[2021-05-24 09:17] Sholofly commented on #76
@richardtrinks Updated the component. Please update, add
[code]
to your config and reboot.

Please report your findings!

[2021-05-24 09:17] #76 closed

[2021-05-24 09:19] Sholofly commented on #73
@sven41 Dit you experience any issues?

for logging add:

[code]

To your config!

[2021-05-24 09:20] Sholofly commented on #72
What type of box do you own?

[2021-05-24 09:20] Sholofly commented on #71
Stale, please reopen if you still experience some issues..

[2021-05-24 09:20] #71 closed

[2021-05-24 09:21] Sholofly commented on #70
Thanks, thats expected behavior (for now).

[2021-05-24 09:21] #70 closed

[2021-05-24 10:38] moostmartijn commented on #72
The Arris-DCX960-MPA+, but I must say that the last couple days everything works as it is supposed to do.

[2021-05-24 11:03] #66 closed

[2021-05-24 16:28] sven41 commented on #73
i add the logging to my config. 14 Ziggo sport don't show the good info...

[2021-05-24 18:19] Sholofly commented on #73
Yeah you mentioned that before, but i have the Zoggo sports Channels as well and i don't experience the same troubles, you have, so I am curious about the difference :). BTW i made a mistake in previous message, you should change the component log level to debug! Can you sare the complete logs when you change to channel 14?

[2021-05-24 18:20] Sholofly commented on #72
Sounds good! Please let me know if it keeps that way the coming days, so i can close this issue. Thanks in advance!

[2021-05-24 18:49] JBakers opened #79 "Customise channel names. Or change phonetics of a channel."
I changed some settings and now the Ziggo Next box is fully accessible through Google.
Although this works fine, is it possible to change channel names? Or give them custom names?

For example, when I want to change to the “MTV 80s” channel. I have to pronounce it exactly as that in Dutch (as I’m obviously am Dutch).
So for MTV 80s, I need to say: “Hey Google, zet Ziggo op MTV tachtig S”
For NL 1

[2021-05-24 20:04] Sholofly commented on #79
@JBakers Please update the component and update your config according to de readme and you are good to go. It doesn't count for the MTV channel though...

[2021-05-25 12:08] Veldkornet opened #80 "API call failed: 410"
Recently I started getting the error below when HomeAssistant starts, any idea?

[code]

Does API code 410 = [HTTP Code 410](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/410) ?

[2021-05-25 12:32] bramstroker commented on #80
I have this same error since last update

[2021-05-25 14:22] Sholofly commented on #80
Hey guys, I have te same issue. Nothing to do with the update though, it's a change on the Ziggo side of life ;) I'll look into it ASAP!

[2021-05-25 16:00] paulgottgens commented on #80
Hi Rudolf. Ziggo Next stopte er mee na de laatste update naar 0.10.0. Maar ik zie dat er al meer mensen hetzelfde probleem hebben. Ik ben helaas geen programmeur, dus ik kan helemaal niks met de logs.
Hopelijk kun je het snel oplossen, want ik vind de addon helemaal top.

Deze fout is ontstaan door een aangepaste integratie.

Logger: homeassistant.setup
Source: custom_components/ziggonext/__init__

[2021-05-25 18:42] Sholofly commented on #80
Hi guys, Can you reinstall the component, and tell me your findings? I hadn't update my component myself and after the update it was working again. Can't reproduce the issue anymore...

[2021-05-25 18:53] ookonbekend commented on #80
Hello,
After a restart it's working again, I'm sure it was related to the Ziggo network, in the Ziggo Go Apps (Windows and IOS) the mediabox wasn't available either.

Keep up the good work, many thanks!

[2021-05-25 19:02] bramstroker commented on #80
Yes also working for me again. Glad Ziggo didn't change the API. Keep up the great work Rudolf!

[2021-05-25 19:24] paulgottgens commented on #80
Yep, it is working again after the reboot. Thanks!!

[2021-05-27 07:05] masteriiz commented on #72
Hi. How do I give my password when it has spaces? don't know if that is the problem, but I get 'invaid credentials' when starting up, and I can connect to ziggo go. My password contains spaces, so I thought maybe that is the problem.

[2021-05-27 21:14] MichelGerding opened #81 "controll connected device using CEC"
I am loving this integration but i would like to controll the connected non smart display using this integration.
primarely turning it on and of like with the right power button the the remote.

is it currently possible or would it be possible to implement.

[2021-05-27 21:33] Sholofly commented on #81
I am afraid controlling your tv is not possible. Thats because the on, off, volume and input type buttons are using radio frequency.  Only when you set up CEC in the box settings the tv will Turn on when you turn on your box. But that's not controlled by my component. You can consider to use an RF transmitter for that kind of stuff..

[2021-05-27 21:33] #81 closed

[2021-05-28 07:06] MichelGerding commented on #81
Thanks for the quick response.
do you happen to know which frequency the remote uses? is this the standard 433mhz?
lukily when looking around for that i already found a post that figured out the ir codes [link](https://community.ziggo.nl/t5/TV-Radio/Compacte-Next-IR-codes-voor-o-a-Pronto/td-p/114252)

[2021-05-28 18:25] richardtrinks commented on #76
Sorry I had to check things out. It works perfectly without having to name HD suffix. Perfect and thanks for that.
Found a problem, which caused the application to stop working at all. When I call Netflix or Videoland via the Google Home, it works fine, but after that the complete application no longer works. Google Home indicates to switch the television channel, but nothing happens. It also does

[2021-05-28 18:59] Sholofly commented on #76
@richardtrinks Can you enable logging and check if you see anything there?

[2021-05-30 20:31] #80 closed

[2021-05-30 20:31] Sholofly commented on #72
Was an Ziggo issue. Solved.

[2021-05-30 20:31] #72 closed

[2021-05-30 20:32] Sholofly commented on #73
@sven41 Still facing issues?

[2021-06-02 19:15] sven41 commented on #73
Problem still facing i add the config you tell me. But where i can see the info of the log?

[2021-06-04 19:02] MisterMeJ opened #82 "State of the mediabox"
Is it possible to get extra states from the mediabox?
Now it's only possible to get the 'off" or 'playing' state, but it would be nice if we can get also the 'pause' state.

Possible to archive this?

Thanks in advance

[2021-06-16 22:41] plugnutbot opened #83 "Virgin 360 Apps"
theres no way to change to a app with home ass , the media_content_type : app errors out the pre listed apps are being seen as a channel apart from that it seems to all be working fine so far

[2021-06-24 22:32] mikyD84 opened #84 "Recordings"
Hallo,

Is there a service for playing the recordings?

Kind regards,

Mike Van Oekel

[2021-06-29 06:01] #79 closed

[2021-06-29 06:02] Sholofly commented on #83
Yup, can't do nothing about it. I am sorry

[2021-06-29 06:02] #83 closed

[2021-06-29 06:03] Sholofly commented on #84
Hi Mike,

Not at this moment How do you wan't to use this?

[2021-06-29 06:04] Sholofly commented on #82
The media player is paused hen you pause your recording or live tv isn't it?

[2021-06-30 04:31] MisterMeJ commented on #82
Apologize, forgotten to mention it's for Netflix and Videoland!

[2021-06-30 05:51] Sholofly commented on #82
Unfortunately that's not possible. They are apps and do not transmit the playing state...

[2021-06-30 05:51] #82 closed

[2021-07-20 12:18] Sholofly commented on #84
Hi @plugnutbot Sorry for the delay. Your screenshot shows what's already possible, how do you want to use the service?

[2021-07-20 12:19] Sholofly commented on #73
@sven41 Sorry for the delay, the additional log should be visible in your home assistant log file

[2021-07-29 13:39] AndyVRD opened #85 "TypeError: sequence item 0: expected str instance, Optional found"
Hi,

First of all thanks for the integration. Just installed it for the Telenet TVBOX, i can see my state is playing and also recordings are showing. The problem is that i can't change to on/off and the state only change if i restart HA. I'm sure my credentials (username/password) are correct. Have already un-installed the integration, restarted the tvbox but still same problem. If i try to switch

[2021-07-31 08:39] AndyVRD commented on #85
@Sholofly I have found the problem but no idea how we can fix it, is there any change you can contact me and we can troubleshoot. :)

[2021-08-05 09:42] AndyVRD opened #86 "Homekit problem"
First of all, thanks for this great integration. Just noticed if i add the media_player.telenettvbox to the HA Homekit integration makes all other homekit devices unresponsive. Any change you can look into this issue? Thx!

[2021-08-15 12:25] Sholofly commented on #86
I am not familiar with the homekit integration. What is the use of that?

[2021-08-15 13:14] AndyVRD commented on #86
HomeKit is Apple’s IoT platform. So you can add devices to the Home app and to interact with.

[2021-08-22 18:55] sven41 commented on #73
2021-08-22 20:52:05 WARNING (Thread-3) [ziggonext.ziggonextbox] Couldn't set channel. Channel info set to unknown...

[2021-08-29 19:16] bkbartk commented on #53
Hello @Sholofly
Is this issue still in the picture? the status says closed,
but I still have this issue every now and then.

[2021-08-30 16:03] relains opened #87 "country_code: pl - dosen't work"
Hi,

When set county_code to pl and provide credentials dosen't work. Log looks like this.

`File "/config/custom_components/ziggonext/__init__.py", line 32, in setup
api.connect()
File "/usr/local/lib/python3.9/site-packages/ziggonext/ziggonext.py", line 276, in connect
self.get_session_and_token()
File "/usr/local/lib/python3.9/site-packages/ziggonext/ziggonext.py", line 58, in get_session_and_t

[2021-08-30 18:27] Sholofly commented on #87
Hi @relains, thank you for your message. Due to the use of different settop boxes your country cannot be supported.
Sorry for any inconvenience. I've created a new repo (https://github.com/Sholofly/arrisdcx960/) that makes clear the hardware is leading.

[2021-08-30 18:27] #87 closed

[2021-08-30 18:28] Sholofly commented on #73
Hi @sven41. This repo is not longer supported. Please install the new component in HACs (Please mind the extra installation step)
https://github.com/Sholofly/arrisdcx960/

[2021-08-30 18:28] #73 closed

[2021-08-30 18:29] Sholofly commented on #84
This repo is deprecated. Please move to: https://github.com/Sholofly/arrisdcx960/

[2021-08-30 18:29] #84 closed

[2021-08-30 18:30] Sholofly commented on #86
@AndyVRD Ive created a new component: https://github.com/Sholofly/arrisdcx960/ please install that one instead of this one. (mind the extra installation step)

[2021-08-30 18:30] #86 closed

[2021-09-03 14:32] X1pheR commented on #53
Me too. It doesn't happen that often as it used to but when it does the only solution is still to restart home assistant. If I can do anything to provide additional info please say so and how 😉

[2021-09-03 15:10] ashmodai6 commented on #53
Indeed still occurs for me as well despite all previous fixes...

[2021-09-03 19:29] Sholofly commented on #53
Hi @bkbartk, @X1pheR, @digital-IMEI  & @ashmodai6 I have created a new [component](https://github.com/Sholofly/arrisdcx960). Please uninstall the old one and install the new one. It uses a new naming (Arris DCX960) And contains a lot of stability fixes. Please submit a new issue if your issues still exists or if you hav new issues or suggestions. Thank you for your cooperation!

[2021-09-04 22:26] X1pheR commented on #53
Hi @Sholofly, thanks! I transitioned today to the new component and so far so good. I'll create a new issue if any issues occur. For others it is worth mentioning that besides removing the old component (and its sensor from configuration.yml) you need to at the url of the new component to HACS first because it is not yet known in its own library. So currently you'll only find the old component.

[2021-09-04 22:30] Sholofly commented on #53
@X1pheR In the meantime the Arris DCX960 repo is added tot te main repo of HACS. So adding a custom repository URLis not longer needed. Some people need to refresh the browser cache after installing the repository in order to see the new integration in the UI.

[2021-09-08 19:33] X1pheR commented on #53
Excellent. Well still going strong here. No faults so far ;)